/target/
/alglobo/target/
/banco/target/
/aerolinea/target/
/hotel/target/
/alglobo-commons-utils/target/

Cargo.lock
/alglobo/Cargo.lock
/banco/Cargo.lock
/aerolinea/Cargo.lock
/hotel/Cargo.lock

/alglobo/logf.log
/aerolinea/aerolinea.log
/hotel/hotel.log
/banco/banco.log